<div class="container">
<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <div class="container">
    <div class="row">

          <div class="col-md-5 text-end">
           
          </div>
          <div class="progress-container col-md-3  text-center">
            <div class="circle completed">1</div>
            <div class="line"></div>
            <div class="circle completed">2</div>
            <div class="line"></div>
            <div class="circle completed">3</div>
            <div class="line"></div>
            <div class="circle">4</div>
          </div>
          <div class="col-md-4 text-end">
            <h2>Elejir platos</h2>
          </div>
    </div>
  </div>
</nav>
<div class="row container-fluid justify-content-center">

  <div class="plato col-sm-3 mt-2 border border-dark rounded-4" *ngFor="let plato of platos">

    <div class="row">
      <img *ngIf="imageUrls[plato.image]" [src]="imageUrls[plato.image]" alt="Imagen de {{ plato.title }}" class="img-fluid rounded-pill rounded mt-2" style="height: 200px">
    </div>

    <div class="row mt-2">
      <h4>Nombre: {{plato.title}}</h4>
      <div class="price">
        <span>Descripcion: {{plato.description}} </span> 
      </div>
      <p>Precio: /S. {{plato.price}}.00</p>
    
      <input class="rounded-pill" type="number" min="0" max="50" [(ngModel)]="quantity[plato.id]" id="quantity{{plato.id}}" placeholder="Cantidad" #cantidadInput="ngModel" required />
      
      <button class="btn btn-outline-dark mt-1 rounded-pill mb-2" type="button" (click)="agregarPlato(plato.id, quantity[plato.id])" [disabled]="cantidadInput.invalid">Agregar Plato</button>

      <div *ngIf="cantidadInput.invalid && cantidadInput.touched">
        <p *ngIf="cantidadInput.errors?.['required']" class="alert alert-danger mt-2 fs-6">La cantidad es requerida</p>
        <p *ngIf="cantidadInput.errors?.['max']" class="alert alert-danger mt-2 fs-6">La cantidad no puede ser mayor a 50</p>
      </div>
  
    </div>
    
  </div>

  <div class="row mt-2">
    <h2>Número de Reserva: {{ reservaId }}</h2>
    <h3>Platos Agregados:</h3>

    <div class="col-sm-auto" *ngFor="let plato of reservationplatoRequest.orderDishes">
        <span class="badge bg-dark">
          Id plato: {{plato.dishId}} - Cantidad: {{plato.quantity}}
        </span>
    </div>
  </div>
  <div class="col-md">
    <button *ngIf="reservationplatoRequest.orderDishes.length !==0"  (click)="limpiarListas()" class="btn btn-danger mt-2">Borrar seleccion</button>
  </div>
</div>
<div class="row text-center mb-4 mt-4">       
  <div class="col-md">
      <button class="btn btn-outline-dark" type="button" (click)="navigateToHome()">Cancelar</button>
  </div>
  <div class="col-md">
      <button type="submit" class="btn btn-dark"  (click)="enviarReservaPlatos()" >Continuar</button>
  </div>
</div>
</div>

