<app-naviniciarsesion></app-naviniciarsesion>
<div class="container">
    <div class="col-md-4 offset-md-4 fst-italic fw-semibold">

        <form class="formulario" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label class="form-label">Ingrese su correro</label>
                <input type="email" formControlName="email" class="form-control" placeholder="Example@example.com">
                <div class="alert alert-danger mt-2"
                    [hidden]="loginForm.get('email')?.valid || loginForm.get('email')?.pristine">
                    <span *ngIf="loginForm.get('email')?.errors?.['required']">
                        El correo es obligatorio.
                    </span>
                    <span *ngIf="loginForm.get('email')?.errors?.['email']">
                        Introduzca un correo válido.
                    </span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Ingrese su contraseña</label>
                <input type="password" formControlName="password" placeholder="Contraseña" class="form-control">
                <div class="alert alert-danger mt-2"
                    [hidden]="loginForm.get('password')?.valid || loginForm.get('password')?.pristine">
                    <span *ngIf="loginForm.get('password')?.errors?.['required']">
                        La contraseña es obligatoria.
                    </span>
                    <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        Su contraseña no puede ser menor a 8 caracteres.
                    </span>
                </div>
            </div>

            <div class="text-center mb-3">
                <a href="javascript:void(0);" class="text-decoration-none text-dark fw-semibold"
                   (click)="navigateToSendMail()">¿Olvidaste tu contraseña?</a>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark btn-lg rounded-pill" [disabled]="loginForm.invalid">Iniciar
                    Sesion</button>
            </div>
        </form>
    </div>
</div>