<div class="progress-container">
  <div class="circle completed">1</div>
  <div class="line"></div>
  <div class="circle completed">2</div>
  <div class="line"></div>
  <div class="circle completed">3</div>
  <div class="line"></div>
  <div class="circle completed">4</div>
  <span class="label">Detalle de reserva</span>
</div>

<body>
<div class="container">
  <div class="icon">✔️</div>
  <div class="message bold">PAGO REALIZADO CON ÉXITO</div>
  <div class="message">Se confirmó su reserva</div>
  <div class="message">Los detalles junto con su código de reserva han sido enviados a su correo.</div>
  <a href="/" class="button">FINALIZAR</a>
</div>
</body>
