
nav {
  background-image: url("../../../public/portadaBere.jpg");
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
}

.atras{
  margin-top: 70px;;
}

.crear{
  margin-top: 30px;
  .titulo{
    font-size: 40px;
  }
  .subtitulo{
    font-size: 20px;    
  }

  .inicia{
    color: white;
  }
}

.logo{
  img{
    width: 200px;
    height: 200px;
  }
}
