<app-navegador></app-navegador> 
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="mb-4">Ingrese su nueva contraseña</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="newPassword" class="form-label">Nueva Contraseña</label>
          <input
            id="newPassword"
            type="password"
            class="form-control"
            placeholder="Ingrese su nueva contraseña"
            formControlName="newPassword"
            required
          />
          <div
            *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched"
            class="text-danger mt-2"
          >
            <small *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
              La contraseña es obligatoria.
            </small>
            <small *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
              La contraseña debe tener al menos 8 caracteres.
            </small>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
          <input
            id="confirmPassword"
            type="password"
            class="form-control"
            placeholder="Confirme su nueva contraseña"
            formControlName="confirmPassword"
            required
          />
          <div
            *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword')?.touched"
            class="text-danger mt-2"
          >
            <small>Las contraseñas no coinciden.</small>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-dark btn-block btn-lg"
          [disabled]="passwordForm.invalid"
        >
          Aceptar
        </button>
      </form>
    </div>
  </div>
</div>
<app-piepagina></app-piepagina>