<div class="container">
    <div class="row">

        <div class="col-md-5 text-end">
         
        </div>
        <div class="progress-container col-md-3  text-center">
          <div class="circle completed">1</div>
          <div class="line"></div>
          <div class="circle completed">2</div>
          <div class="line"></div>
          <div class="circle">3</div>
          <div class="line"></div>
          <div class="circle">4</div>
        </div>
        <div class="col-md-4 text-end">
          <h2>Elige una mesa</h2>
        </div>

  </div>
    <div class="row">
        <form #reservaForm="ngForm" (ngSubmit)="onSubmit(reservaForm, $event)">
            <div class="row" *ngIf="reserva">
                <div class="col-md-6 ">
                    <h2>Datos de su reserva</h2>
                    <h2>fecha : {{reserva.date}}</h2>
                    <h2>hora inicio : {{reserva.startTime}}</h2>
                    <h2>hora de fin : {{reserva.endTime}}</h2>
                </div>
                <div class="col-md-6">
                    <img class="imagen img-fluid" src="https://i.imgur.com/VKjtcPo.jpeg" alt="Fondo del Body"/>
                </div>
            </div>   
        </form>
    </div>
    <div>
        <div *ngIf="mesasDisponibles.length !== 0; else noMesas">
          <div class="row"> 
            <h3>Mesas disponibles:</h3>
            <div class="col" *ngFor="let mesa of mesasDisponibles">
              <p>Id: {{ mesa.id }}</p>
              <button type="button" (click)="agregarMesa(mesa.id)">Agregar Mesa</button>
            </div>
          
            <h2 class="p-3">ID de Reserva: {{ reservaId }}</h2>
          
            <h3 class="p-3">Mesas Agregadas:</h3>
            <ul>
              <li *ngFor="let mesa of reservationRequest.resTables">
                ID: {{ mesa.id }}
              </li>
            </ul>
          
            <div class="col-md">
              <button  *ngIf="reservationRequest.resTables.length !==0" (click)="limpiarListas()" class="btn btn-danger">Borrar selección</button>
            </div>
          </div>
        </div>
        
        <!-- Sección que muestra el mensaje cuando no hay mesas disponibles -->
        <ng-template #noMesas>
          <h3>No hay mesas disponibles en este momento.</h3>
        </ng-template>
        
      </div>
    <div class="row text-center mb-4 mt-4">       
        <div class="col-md">
            <button class="btn btn-red" type="button" (click)="navigateToCreateAcc()">Volver</button>
        </div>
        <div class="col-md">
            <button type="submit" class="btn btn-dark"  (click)="enviarReserva()" >Seleccionar Platos</button>
        </div>
    </div>
</div>
