<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/inicio">
      <img class="rounded-circle" alt="logo" src="LogoBere.jpeg" width="50" height="50"/>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/inicio" routerLinkActive="active"><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio/nosotros" routerLinkActive="active"><i class="fa-solid fa-people-robbery"></i> Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio/menu" routerLinkActive="active"><i class="fa-solid fa-utensils"></i> Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="reservar()"><i class="fa-solid fa-chair"></i> Reservas</a>
        </li>
      </ul>
      
      <div class="d-flex">
        @if (!isLoggedIn) {
          <button class="btn btn-outline-primar me-2" type="button" (click)="navigateToCreateAcc()"><i class="fa-solid fa-user-plus"></i> Crear cuenta</button>
          <button class="btn btn-primar" type="button" (click)="navigateToLogin()"><i class="fa-solid fa-user"></i> Iniciar Sesión</button>
        } @else {
          <button class="btn btn-outline-primar me-2" (click)="navigateToProfile()"><i class="fa-solid fa-user"></i> Mi Perfil</button>
          <button class="btn btn-danger" (click)="logout()"><i class="fa-solid fa-circle-xmark"></i> Cerrar Sesión</button>
        }
      </div>
    </div>
  </div>
</nav>