<nav>
    <div class="navbar navbar-expand-lg bg-body">
      <div class="container-fluid ">
        
        <a class="navbar-brand" href="/inicio">
          <img class ="rounded-circle" alt="logo" src="LogoBere.jpeg"/>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" routerLink="/inicio"><i class="fa-solid fa-house"></i> Inicio </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/inicio/nosotros"><i class="fa-solid fa-people-robbery"></i> Nosotros </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/inicio/menu"><i class="fa-solid fa-utensils"></i> Menu </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/inicio/reservacion"><i class="fa-solid fa-chair"></i> Reservas </a>
            </li>
          </ul>
          </div>
          @if(isLoggedIn == false){
            <button class="btn btn-outline-dark rounded-start me-3" type="button" (click)="navigateToCreateAcc()" ><i class="fa-solid fa-user-plus"></i> Crear cuenta</button>
            
            <button class="btn btn-outline-dark rounded-start me-3" type="button" (click)="navigateToLogin()"><i class="fa-solid fa-user "></i> Iniciar Sesion</button>
          }
          @else {
            <button class = "btn btn-outline-dark rounded-start me-3" (click)="navigateToProfile()" ><i class="fa-solid fa-user"></i> Mi Perfil</button>
            
            <button *ngIf="isLoggedIn" class="btn btn-outline-dark rounded-start " (click)="logout()"><i class="fa-solid fa-circle-xmark"></i> Cerrar Sesion</button>
          }
        </div>
      </div>
  </nav>

