<body class="text-dark">
    <div class="container-fluid row">
        <div class="col-md-4 offset-md-4 fst-italic fw-semibold">
            <form class="formulario needs-validation">

                <div class="mb-3">
                    <label for="Email" class="form-label">Ingrese su correro</label>
                    <input type="email" class="form-control" id="Email" placeholder="Example@example.com" required>
                </div>

                <div class="mb-3">
                  <label for="Password" class="form-label">Ingrese su contraseña</label>
                  <input type="password" class="form-control" id="Password"  required>
                  <!-- <div id="Password" class="form-text">
                    Su contraseña debe tener entre 8 y 20 caracteres, contener letras y números, y no debe contener espacios, caracteres especiales ni emoji.
                  </div> -->
                </div>

                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-dark btn-lg rounded-pill ">Iniciar Sesion</button>
                </div>

              </form>
        </div>
    </div>
</body>

