<body>

<div class="banner">
  ¡Bienvenido a Doña Bere, donde el sabor es tradición peruana!
</div>

<section id="bienvenida">
  <h2>Bienvenido a Doña Bere</h2>
  <h5>En Doña Bere, ofrecemos los mejores platos tradicionales peruanos con ingredientes frescos y recetas familiares. ¡Ven y disfruta de la auténtica comida criolla!</h5>
</section>

<section id="sobre-nosotros">
  <h2>Sobre Nosotros</h2>
  <p>Doña Bere es un restaurante familiar con sede en Trujillo, Perú. Fundado en 1990, nuestra misión es compartir el auténtico sabor de la cocina peruana. Todos nuestros platillos son elaborados con amor y tradición, transmitida de generación en generación.</p>
</section>
<section id="menu">
  <h2>Menú del Día</h2>
  <div class="menu-list">
    <div class="menu-item">
      <h3>Entrada : Sopa de casa</h3>
      <p>Una sopa preparada con la receta de la casa.</p>
      <p><strong>Precio:</strong> S/ 9.00</p>
    </div>
    <div class="menu-item">
      <h3>Plato Fuerte: Lomo Saltado</h3>
      <p>Sabroso lomo saltado de res con papas fritas, arroz y cebolla salteada.</p>
      <p><strong>Precio:</strong> S/ 12.00</p>
    </div>
    <div class="menu-item">
      <h3>Plato especial : Combinado</h3>
      <p>Un combinado de ceviche, papa a la huancaina y tallarin.</p>
      <p><strong>Precio:</strong> S/ 10.00</p>
    </div>
  </div>
</section>
<section id="contacto">
  <h2>Contacto</h2>
  <p><strong>Dirección:</strong> IV Etapa, Calle República Dominicana 174, Trujillo 13008, Perú</p>
  <p><strong>Horario:</strong></p>
  <ul>
    <li>Domingo: 8 a.m. – 11 p.m.</li>
    <li>Lunes a Jueves: 8 a.m. – 11 p.m.</li>
    <li>Viernes: Cerrado</li>
    <li>Sábado: 8 a.m. – 11 p.m.</li>
  </ul>


  <p><strong>Teléfono:</strong> (51) 937 222 902</p>
  <p><strong>Facebook:</strong> <a href="https://www.facebook.com/profile.php?id=100063569291493&mibextid=ZbWKwL" target="_blank">Doña Bere en Facebook</a></p>
</section>
</body>
