<body>

<header>
  <h1>Términos y Condiciones</h1>
  <h3>Restaurante Doña Bere</h3>
</header>

<section>
  <h2>Política de Privacidad y Protección de Datos Personales</h2>
  <p>
    DOÑABERE S.A.C. (en adelante, “DOÑABERE”) garantiza la seguridad y confidencialidad en el tratamiento de los datos de carácter personal facilitados por sus clientes/usuarios, de conformidad con la legislación peruana. En ningún caso DOÑABERE proporciona información que identifique a sus clientes/usuarios, sin previa autorización de éstos, salvo para el estricto y único fin de atenderlos de la mejor forma.
  </p>

  <p>
    El cliente/usuario otorga autorización expresa a DOÑABERE para realizar tratamiento y hacer uso de la información personal que éste proporcione a DOÑABERE cuando acceden a los sitios web o landings de DOÑABERE, participan en eventos y promociones, envían consultas o comunican incidencias, y en general cualquier interacción web, además de la información que se derive del uso de servicios que pudiera tener contratados con DOÑABERE y de cualquier información pública o que pudiera recoger a través de fuentes de acceso público, incluyendo aquellos a los que DOÑABERE tenga acceso como consecuencia de su navegación por esta página web/landings (en adelante, la “Información”) para las finalidades de envío de comunicaciones comerciales, comercialización de productos y servicios, del mantenimiento de su relación contractual y de gestión con DOÑABERE, al objeto de crear ofertas comerciales que se adapten a las características de nuestros clientes.
  </p>

  <p>
    La navegación en esta página web, participación en eventos y promociones y cualquier otra interacción web implica el consentimiento expreso del cliente/usuario para la cesión de sus datos personales a DOÑABERE. El cliente/usuario reconoce y acepta que DOÑABERE podrá ceder sus datos personales a cualquier tercero, siempre que sea necesaria su participación para cumplir con la prestación de servicios y comercialización de productos.
  </p>

  <h2>Cedencia de Información</h2>
  <p>
    DOÑABERE podrá ceder, en su caso, la Información a las sociedades que conforma su Grupo económico, con las mismas finalidades que se han indicado para la recogida de la Información por parte de DOÑABERE en relación con sus respectivos productos y servicios. En todo caso, DOÑABERE garantiza el mantenimiento de la confidencialidad y el tratamiento seguro de dicha Información.
  </p>

  <p>
    El uso de la Información por las empresas antes indicadas se circunscribirá a los fines contenidos en este documento y con estricto respeto a la ley de protección de datos personales, ley No 29733 y su reglamento.
  </p>

  <h2>Derechos de los Usuarios</h2>
  <p>
    La política de privacidad de DOÑABERE le asegura, en todo caso, el ejercicio de los derechos de acceso, rectificación, cancelación, información de valoraciones y oposición, en los términos establecidos en la legislación vigente.
  </p>
</section>

</body>
