nav{
    ul{
        font-size: 18px;
    }
    img{
        width: 120px;
        height: 110px;
        
    }
}

.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
