<div class="container-fluid">

    <img class="imagen img-fluid" src="FondoBere.jpg" alt="Fondo del Body"/>
    <div class="container-fluid row text-center fst-italic">
        <div class="noso">  
            <h2 class="fw-semibold">NOSOTROS</h2>
            <p>Habilitados para servirles con nuestro compromiso y disfruten su pedido, preparado con mucho entusiasmo y bien Taipá. Considerando todas las medidas de prevención para brindarte el mejor servicio.</p>
        </div>

        <div class="local col-md 6">
            <img class="img-fluid" src="LocalBere.jpg" />
        </div>

        <div class="hor col-md 6">

            <h2 class="fw-semibold">| HORARIOS</h2>

                <ul class="list-group fs-3 list-group-flush text-start">
                    <li class="list-group-item">| Lunes: 
                        <ul>
                            <li>9:00a.m. - 11:30p.m.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">| Martes 
                        <ul>
                            <li>9:00a.m. - 11:30p.m.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">| Miercoles 
                        <ul>
                            <li>9:00a.m. - 11:30p.m.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">| Jueves 
                        <ul>
                            <li>9:00a.m. - 11:30p.m.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">| Viernes 
                        <ul>
                            <li>9:00a.m. - 11:30p.m.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">| Sabado 
                        <ul>
                            <li>07:00a.m. - 12:00p.m.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">| Domingo 
                        <ul>
                            <li>9:00a.m. - 11:30p.m.</li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>

    <div class=" ubimapa container-fluid row fst-italic">

        <div class="col-md 6 text-center">

            <div class="ubi row">
                <ul class="list-group fs-3 list-group-flush">
                    <li>| Ubicación</li>
                    <li class="list-group-item" >Av. Republica Dominicana 174, Trujillo, Trujillo</li>
                    <li></li>
                </ul>
            </div>

            <div class="row">
                <ul class="list-group fs-3 list-group-flush">
                    <li>| Contacto </li>
                    <li> 937 222 902</li>
                    <li> 932 555 384</li>
                    <li class="list-group-item"> 931 161 424</li>
                    <li></li>
                </ul>
            </div>

        </div>

        <div class="col-md 6 text-center">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dhzUBmaNaP4daYFO_PnRagjmPMGY7AY&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
        </div>
    </div>
</div>