<div class="container-fluid">

    <img class="imagen img-fluid" src="FondoBere.jpg" alt="Fondo del Body" />
    <div class="container-fluid row text-center">
        <div class="row">
            <div class="col p-5">
                <h2 class="fw-normal">NOSOTROS</h2>
                <div class="fs-5 p-3">
                    <p>Habilitados para servirles con nuestro compromiso y disfruten su pedido, preparado con mucho
                        entusiasmo y bien Taipá. Considerando todas las medidas de prevención para brindarte el mejor
                        servicio.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="img-fluid col-md 6">
                <img class="img-fluid" src="LocalBere.jpg" />
            </div>

            <div class="col-md 6 d-flex justify-content-center align-items-center">
                <div class="row ps-5">
                    <h2 class="fw-normal p-3 text-center">HORARIOS</h2>
                    <div class="row fs-5 text-start">
                        <td class="align-middle">Lunes:</td>
                        <td class="align-middle"> 9:00a.m. - 11:30p.m.</td>
                        <td class="align-middle">Martes</td>
                        <td class="align-middle">9:00a.m. - 11:30p.m.</td>
                        <td class="align-middle">Miercoles</td>
                        <td class="align-middle">9:00a.m. - 11:30p.m.</td>
                        <td class="align-middle">Jueves</td>
                        <td class="align-middle">9:00a.m. - 11:30p.m.</td>
                        <td class="align-middle">Viernes </td>
                        <td class="align-middle">9:00a.m. - 11:30p.m.</td>
                        <td class="align-middle">Sabado</td>
                        <td class="align-middle"> 07:00a.m. - 12:00p.m.</td>
                        <td class="align-middle">Domingo</td>
                        <td class="align-middle"> 9:00a.m. - 11:30p.m.</td>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class=" ubimapa container-fluid row fst-italic">

        <div class="col-md 6 text-center">

            <div class="row">
                <p>Ubicación</p>
                <p>Av. Republica Dominicana 174, Trujillo, Trujillo</p>
            </div>

            <div class="row">
                <p class="p-4">Contacto </p>
                <p> 937 222 902</p>
                <p> 932 555 384</p>
                <p> 931 161 424</p>
            </div>

        </div>

        <div class="col-md 6 text-center">
            <iframe
                src="https://www.google.com/maps/d/u/0/embed?mid=1dhzUBmaNaP4daYFO_PnRagjmPMGY7AY&ehbc=2E312F&noprof=1"
                width="640" height="480"></iframe>
        </div>
    </div>
</div>