<div class="progress-container">
  <div class="circle completed">1</div>
  <div class="line"></div>
  <div class="circle completed">2</div>
  <div class="line"></div>
  <div class="circle completed">3</div>
  <div class="line"></div>
  <div class="circle completed">4</div>
  <span class="label">Detalle de reserva</span>
</div>

<body>
<div class="container">
  <div class="icon">✖️</div>
  <div class="message bold">EL PAGO NO SE PUDO COMPLETAR</div>
  <div class="message">Ocurrio un error</div>
  <div class="message">Intentelo nuevamente, verifique que su cuenta bancaria esté disponible.</div>
  <a href="/" class="button">FINALIZAR</a>
</div>
</body>

