<app-navcrearcuenta></app-navcrearcuenta>
<div class="container ">
    <div class=" col-md-4 mb-4 offset-md-4 fst-italic fw-semibold">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
                <label class="text">Nombre</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Ingrese su nombre">
                <div class="alert alert-danger mt-2" *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
                    <span *ngIf="registerForm.get('name')?.errors?.['required']">
                        El nombre es obligatorio.
                    </span>
                    <span *ngIf="registerForm.get('name')?.errors?.['pattern']">
                        El nombre debe contener solo letras.
                    </span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label class="text">Apellido</label>
                <input type="text" class="form-control" formControlName="lastname" placeholder="Ingrese su apellido">
                <div class="alert alert-danger mt-2" *ngIf="registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched)">
                    <span *ngIf="registerForm.get('lastname')?.errors?.['required']">
                        El apellido es obligatorio.
                    </span>
                    <span *ngIf="registerForm.get('lastname')?.errors?.['pattern']">
                        El apellido debe contener solo letras.
                    </span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label class="text">DNI</label>
                <input type="text" class="form-control" formControlName="dni" placeholder="Ingrese su DNI">
                <div class="alert alert-danger mt-2" *ngIf="registerForm.get('dni')?.invalid && (registerForm.get('dni')?.dirty || registerForm.get('dni')?.touched)">
                    <span *ngIf="registerForm.get('dni')?.errors?.['required']">
                        El DNI es obligatorio.
                    </span>
                    <span *ngIf="registerForm.get('dni')?.errors?.['minlength'] || registerForm.get('dni')?.errors?.['maxlength']">
                        Su DNI debe tener exactamente 8 dígitos.
                    </span>
                    <span *ngIf="registerForm.get('dni')?.errors?.['pattern']">
                        Introduzca un DNI válido.
                    </span>
                </div>
            </div>
        
            <div class="form-group mt-3">
                <label class="text">Teléfono</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Ingrese su teléfono">
                <div class="alert alert-danger mt-2" *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched)">
                    <span *ngIf="registerForm.get('phone')?.errors?.['required']">
                        El teléfono es obligatorio.
                    </span>
                    <span *ngIf="registerForm.get('phone')?.errors?.['minlength'] || registerForm.get('phone')?.errors?.['maxlength']">
                        El número de teléfono debe tener exactamente 9 dígitos.
                    </span>
                    <span *ngIf="registerForm.get('phone')?.errors?.['pattern']">
                        Introduzca un número de teléfono válido.
                    </span>
                </div>
            </div>
        
            <div class="form-group mt-3">
                <label class="text">Dirección</label>
                <input type="text" class="form-control" formControlName="address" placeholder="Ingrese su dirección">
            </div>
        
            <div class="form-group mt-3">
                <label class="text">Correo</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Ingrese su correo electrónico">
                <div class="alert alert-danger mt-2" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                    <span *ngIf="registerForm.get('email')?.errors?.['required']">
                        El correo es obligatorio.
                    </span>
                    <span *ngIf="registerForm.get('email')?.errors?.['email']">
                        Introduzca un correo válido.
                    </span>
                </div>
            </div>
        
            <div class="form-group mt-3">
                <label class="text">Contraseña</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Ingrese su contraseña">
                <div class="alert alert-danger mt-2" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                    <span *ngIf="registerForm.get('password')?.errors?.['required']">
                        La contraseña es obligatoria.
                    </span>
                    <span *ngIf="registerForm.get('password')?.errors?.['minlength']">
                        Su contraseña debe tener al menos 8 caracteres.
                    </span>
                </div>
            </div>
        
            <div class="form-group mt-3">
                <div class="col-12 mb-3 text-center">
                    <input type="checkbox" formControlName="termsAccepted"> He leído y acepto los <a href="/inicio/terminosycondiciones">términos y condiciones</a> y <a href="/inicio/politicasdeprivacidad">políticas de privacidad</a>.
                </div>
                <div class="alert alert-danger mt-2" *ngIf="registerForm.get('termsAccepted')?.invalid && (registerForm.get('termsAccepted')?.dirty || registerForm.get('termsAccepted')?.touched)">
                    <span *ngIf="registerForm.get('termsAccepted')?.errors?.['required']">
                        Debes aceptar los términos y condiciones para continuar.
                    </span>
                </div>
            </div>
        
            <button type="submit" class="btn btn-outline-dark mt-2 " [disabled]="registerForm.invalid">Registrarse</button>
        </form>
    </div>
</div>
