<app-navcrearcuenta></app-navcrearcuenta>
<body class="text-dark">
  <div class="container-fluid row">
    <div class="col-md-4 offset-md-4 fst-italic fw-semibold">

      <form [formGroup]="formUser" class="formulario" (ngSubmit)="enviar()">

        <div class="mb-2">
          <label class="form-label">Nombre</label>
          <input type="text" formControlName="name" class="form-control" placeholder="Porfavor ingrese su nombre">
          <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
            <span *ngIf=" name.errors?.['required']">
              El nombre es obligatorio
            </span>
            <span *ngIf="name.errors?.['pattern']">
              El nombre debe tener solo letras
            </span>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">DNI</label>
          <input type="text" formControlName="dni" class="form-control" placeholder="Ingrese su DNI">
          <div class="alert alert-danger mt-2" [hidden]="dni.valid || dni.pristine">
            <span *ngIf="dni.errors?.['required']">
              El DNI es obligatorio
            </span>
            <span *ngIf="dni.hasError?.('minlength') || dni.hasError?.('maxlength')">
              El DNI debe tener exactamente 8 dígitos
            </span>
            <span *ngIf="dni.errors?.['pattern']">
              y debe contener solo números
            </span>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">Dirección</label>
          <input type="text" formControlName="address" class="form-control" placeholder="Porfavor ingrese su Dirección (opcional)"> 
        </div>

        <div class="mb-2">
          <label class="form-label">Telefono</label>
          <input type="text" formControlName="phone" class="form-control" placeholder="Ingrese su Telefono (opcional)">
          <div class="alert alert-danger mt-2" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <span *ngIf="phone.errors?.['pattern']">
              El telefono debe contener solo números
            </span>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">Correo electrónico</label>
          <input type="email" formControlName="email" class="form-control" id="Email" placeholder="Example@example.com">
          <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
            <span *ngIf="email.errors?.['required']">
              El correo electrónico es obligatorio
            </span>
            <span *ngIf="email.errors?.['email']">
              El correo electrónico debe ser válido
            </span>
          </div>
        </div> 

        <div class="mb-2">
          <label class="form-label">Contraseña</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Ingrese su contraseña">
          <div class="alert alert-danger mt-2" [hidden]="password.valid || password.pristine">
            <span *ngIf="password.errors?.['required']">
              La contraseña es obligatoria
            </span>
            <span *ngIf="password.hasError?.('minlength')">
              La contraseña debe tener al menos 8 caracteres
            </span>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">Nuevamente la contraseña</label>
          <input type="password" formControlName="passwordConfirm" class="form-control"
            placeholder="Confirmar contraseña">
          <div class="alert alert-danger mt-2" [hidden]="passwordConfirm.valid || passwordConfirm.pristine">
            <span *ngIf="passwordConfirm.errors?.['required']">
              Confirmar la contraseña es obligatoria
            </span>
            <span *ngIf="passwordConfirm.errors?.['Coincidir']">
              Las contraseñas no coinciden. **Verifica que ambos campos estén completos.**
            </span>
          </div>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            Acepto los <a class="terminos" href="#">términos y condiciones</a> y <a class="privacidad" href="#">la
              política de privacidad</a>
          </label>
          <input class="form-check-input" formControlName="check" type="checkbox">
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-dark btn-lg rounded-pill"
            [disabled]="formUser.invalid || !check.value">Registrarse</button>
        </div>

      </form>
    </div>
  </div>
</body>