<nav>
    <div class="container-fluid row text-center">
        <img class="img-fluid" src="portadaBere.jpg"/>

        <div class="d-md-block ">
            <button class="btn btn-outline-dark rounded-start fst-italic fw-semibold" type="button"><i class="fa-solid fa-plate-wheat"></i> Entradas </button>
            <button class="btn btn-outline-dark rounded-start fst-italic fw-semibold" type="button"><i class="fa-solid fa-bowl-food"></i> Plato de Fondo </button>
            <button class="btn btn-outline-dark rounded-start fst-italic fw-semibold" type="button"><i class="fa-solid fa-cookie-bite"></i> Postre </button>
            <button class="btn btn-outline-dark rounded-start fst-italic fw-semibold" type="button"><i class="fa-solid fa-wine-bottle"></i> Bebidas </button>   
            <button class="btn btn-outline-dark rounded-start fst-italic fw-semibold" type="button"><i class="fa-solid fa-folder-plus"></i> Adicionales </button>   
        </div>

        <div class="col-md 4 ">

            <div class="card">
                <img src="CevichePoll.avif" alt="...">
                <div class="card-body row">
                    <div class="col-md-6 text-start">
                          <h5 class="card-title">Ceviche De Pollo</h5>
                          <p>S/. 12.00</p>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm border border-dark rounded-circle">-</button>
                    </div>
                    <div class="col-md-2 mt-4">
                        <p>1</p>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm border border-dark rounded-circle">+</button>
                    </div>
                      <p class="card-text">Un toque fresco y diferente al clásico ceviche. Disfruta de la suavidad del pollo marinado en cítricos, con el toque picante que caracteriza a este plato peruano.</p>
                </div>
            </div>

            <div class="card">
                <img src="CroquetasAtun.webp" alt="...">
                
                    <div class="card-body row">
                        <div class="col-md-6 text-start">
                            <h5 class="card-title">Croquetas de Atun</h5>
                            <p>S/. 12.00</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">-</button>
                        </div>
                        <div class="col-md-2 mt-4">
                            <p>1</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">+</button>
                        </div>
                          <p class="card-text">Crujientes por fuera, suaves por dentro. Nuestras croquetas de atún son una explosión de sabor en cada bocado.</p>
                    </div>
                
            </div>

        </div>

        <div class="col-md 4">

            <div class="card">
                <img src="PapaRellena.avif" alt="...">
                
                    <div class="card-body row">
                        <div class="col-md-6 text-start">
                            <h5 class="card-title">Papa Rellena</h5>
                            <p>S/. 12.00</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">-</button>
                        </div>
                        <div class="col-md-2 mt-4">
                            <p>1</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">+</button>
                        </div>
                          <p class="card-text"> La papa rellena más deliciosa que probarás. Rellena con carne picada y aderezada con especias, es el acompañamiento perfecto para cualquier ocasión.</p>
                    </div>
                
            </div>

            <div class="card">
                <img src="PastelAcelga.webp" alt="...">
                
                    <div class="card-body row">
                        <div class="col-md-6 text-start">
                            <h5 class="card-title">Pastel De Acelga</h5>
                            <p>S/. 12.00</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">-</button>
                        </div>
                        <div class="col-md-2 mt-4">
                            <p>1</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">+</button>
                        </div>
                          <p class="card-text"> Disfruta de un pastel salado diferente y saludable. Elaborado con acelga y otros ingredientes naturales, es una opción perfecta para los amantes de los vegetales.</p>
                    </div>
                
            </div>

        </div>

        <div class="col-md 4">

            <div class="card">
                <img src="SopaCriolla.avif" alt="...">
                
                    <div class="card-body row">
                        <div class="col-md-6 text-start">
                            <h5 class="card-title">Sopa Criolla</h5>
                            <p>S/. 12.00</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">-</button>
                        </div>
                        <div class="col-md-2 mt-4">
                            <p>1</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">+</button>
                        </div>
                          <p class="card-text">Rescata los sabores de la cocina peruana con nuestra sopa criolla. Un caldo lleno de sabor, con verduras frescas y un toque de ají.</p>
                    </div>
                
            </div>

            <div class="card">
                <img src="SopaMinuta.webp" alt="...">
                
                    <div class="card-body row">
                        <div class="col-md-6 text-start">
                            <h5 class="card-title">Sopa De Minuta</h5>
                            <p>S/. 12.00</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">-</button>
                        </div>
                        <div class="col-md-2 mt-4">
                            <p>1</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-sm border border-dark rounded-circle">+</button>
                        </div>
                          <p class="card-text">Rápida de preparar y llena de sabor. Nuestra sopa de minuta es ideal para esos días en los que necesitas un plato caliente y nutritivo</p>
                    </div>
                
            </div>

        </div>



    </div>
</nav>